html, body {
  height: 100%;
  font-family: sans-serif;
  background: #FAFAFA;
}

.sublime-wrap {
	margin-top: 5rem;
	margin-bottom: 5rem;
  
  .main-window {
    height: 640px;
    background: #26292C;
    position: relative;
    border-radius: 20px 20px 5px 5px;
     -webkit-border-radius: 20px 20px 5px 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
     -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    
    .window-top {
  		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+0,fbfbfb+0,f6f6f6+100 */
      background: rgb(251,251,251); /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmJmYmZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-linear-gradient(top,  rgb(251,251,251) 0%, rgb(251,251,251) 0%, rgb(246,246,246) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(251,251,251)), color-stop(0%,rgb(251,251,251)), color-stop(100%,rgb(246,246,246))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgb(251,251,251) 0%,rgb(251,251,251) 0%,rgb(246,246,246) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgb(251,251,251) 0%,rgb(251,251,251) 0%,rgb(246,246,246) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgb(251,251,251) 0%,rgb(251,251,251) 0%,rgb(246,246,246) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgb(251,251,251) 0%,rgb(251,251,251) 0%,rgb(246,246,246) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */
  		height: 25px;
  		padding: 3px 0 0 0;
      border: 1px solid rgba(0, 0 , 0, 0.05);
  		border-bottom: 1px solid #B3B1B3;
  		border-radius: 5px 5px 0 0;
  		-webkit-border-radius: 5px 5px 0 0;
  		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  		-moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  		-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
      @include noselect;
      
      .top-buttons {
        color: gray;
        padding-left: 8px;
        
        .top-btn {
          height: 11px;
          width: 11px;
          border-radius: 50%;
          display: inline-block;
          cursor: pointer;
          
          &:not(:first-of-type) {
            margin-left: 5px;
          }
        }
        
        #btn-close {
          background-color: #F5615A;
        }
        
        #btn-minimize {
          background-color: #F9BF2F;
        }
        
        #btn-fullscr {
          background-color: #42CF42;
        }
      }
      
      .top-title {
        position: absolute;
        text-align: center;
      }
    }
    
    .window-top-sub {
  		background-color: #16181A;
  		border-bottom: 1px solid #3B3D3F;
  		height: 35px;
  		display: inline-flex;
  		align-items: center;
  		padding: 0;
      @include noselect;
      
      .tab-container {
        .tabs {
    			background: #26292C;
    			color: white;
    			height: 30px;
    			min-width: 145px;
    			margin-bottom: -5px; /* http://goo.gl/LTLVGz */
          margin-right: 5px;
          margin-left: -40px;
    			display: inline-block;
    			border-radius: 7px 7px 0 0;
    			 -webkit-border-radius: 7px 7px 0 0;
    			border-top: 1px solid #3B3D3F;
    			padding-left: 10px;
          z-index: 10;

          &:not(:first-of-type) {
            background: #3C3D3E;
          }

          &:not(:first-of-type):before {
            border-right: 12px solid #3C3D3E;
          }

          &:not(:first-of-type):after {
            border-left: 12px solid #3C3D3E;
          }

          &:before {
            content: "";
            width: 0; 
            height: 0; 
            width: 0; 
            height: 0; 
            border-top: 29px solid transparent;
            border-right: 12px solid #25282B;
            position: fixed;
            margin-left: -20px;
          }

          &:after {
            content: "";
            width: 0; 
            height: 0; 
            width: 0; 
            height: 0; 
            border-top: 30px solid transparent;
            border-left: 12px solid #25282B;
            position: relative;
            float: right;
            margin-top: -32px;
            right: -9px;
            z-index: 1;
          }

          p {
          	margin-top: 6px;
            font-size: 11px;
            font-weight: 200;
          }

          p:after {
          	content: "\f129";
          	font-family: Ionicons;
          	font-size: 8px;
      			padding-left: 10px;
      			margin: 0 10px 2px 0;
      			float: right;
      			line-height: 16px;
            color: #828486;
          }
        }
      }
      
      .arrow-left-right {
        padding-left: 8px;
      }
      
      .arrow-down {
        padding-right: 8px;
        text-align: right;
      }
      
      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        display: inline-block;
      }
      
      #t-left {
        border-width: 5px 8.7px 5px 0;
        border-color: transparent #868686 transparent transparent;
        margin-right: 5px;
      }
      
      #t-right {
        border-width: 5px 0 5px 8.7px;
        border-color: transparent transparent transparent #868686;
      }
      
      #t-down {
        border-width: 8.7px 5px 0 5px;
        border-color: #868686 transparent transparent transparent;
      }
    }

    .main-content-area {
      padding-left: 0;

      .line-numbers {
        color: #888D8F;
        text-overflow: ellipsis;
        width: 45px;
        white-space: nowrap;
        overflow: hidden;
        line-height: 15px;
        font-size: 13px;
        text-align: right;
        padding: 2px 0 0 0;
        font-weight: bold;
        @include noselect;

        div {
          padding-right: 10px;
        }

        #line-active {
          background-color: #202021;
        }
      }

      .actual-content {
        color: white;
        font-family: "monaco";
        font-size: 12px;
        line-height: 15px;
        min-height: 100%;
        height: 100%;
      
        .rendered-content {
          font-family: "Open Sans";
          height: 557px;
          display: none;
          align-items: center;
          line-height: initial;
          text-align: center;

          img {
            width: 50%;
            border-radius: 50%;
            overflow: hidden;
            transition-duration: 3s;
            transition-property: transform;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
             -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
             -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);

              &:hover {
                transform: rotate(360deg);
             }
          }

          .profile-text {
            margin-left: -40px;
            h1 {
              font-size: 4.5rem;
              margin-top: 0;
            }

            h3 {
              margin-top: 10px;
            }

            hr {
              width: 45%;
              border-top: 1px solid rgba(255,255,255,0.7);
            }
            
            .social {
              p {
                font-size: 1.5rem;
                margin-bottom: 5px;

                a {
                  color: white;

                  &:hover, &:focus, &:active {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }

        .idnt-1 {
          text-indent: 20px;
        }

        .idnt-2 {
          text-indent: 40px;
        }

        .idnt-3 {
          text-indent: 60px;
        }

        .idnt-4 {
          text-indent: 80px;
        }

        .pnk {
          color: #E72566;
        }

        .lgr {
          color: #A6E200;
        }

        .ylw {
          color: #DDDB6A;
        }

        .cmnt {
          color: #46443D;
        }
      }
    }
    
    .window-bottom {
  		border-top: 1px solid #7D7D7D;
  		color: white;
  		position: absolute;
      padding-right: 0;
  		bottom: 0;
  		font-size: 12px;
  		border-radius: 0 0 5px 5px;
  		-webkit-border-radius: 0 0 5px 5px;
  		background: rgb(91,91,91); /* Old browsers */
  		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  		background:           url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViNWI1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NDU0NTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  		background: -moz-linear-gradient(top,  rgb(91,91,91) 0%, rgb(84,84,84) 100%); /* FF3.6+ */
  		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(91,91,91)), color-stop(100%,rgb(84,84,84))); /* Chrome,Safari4+ */
  		background: -webkit-linear-gradient(top,  rgb(91,91,91) 0%,rgb(84,84,84) 100%); /* Chrome10+,Safari5.1+ */
  		background: -o-linear-gradient(top,  rgb(91,91,91) 0%,rgb(84,84,84) 100%); /* Opera 11.10+ */
  		background: -ms-linear-gradient(top,  rgb(91,91,91) 0%,rgb(84,84,84) 100%); /* IE10+ */
  		background: linear-gradient(to bottom,  rgb(91,91,91) 0%,rgb(84,84,84) 100%); /* W3C */
  		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#545454',GradientType=0 ); /* IE6-8 */
      @include noselect;

      .line-count {
		    padding-left: 5px;
        padding: 2px 0 2px 0;
      }
      
      .tab-size {
        text-align: center;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        padding: 2px 0 2px 0;
      }
      
      .type {
        text-align: center;
        padding: 2px 0 2px 0;
      }
    }
  }

  .skip-this-crap {
    display: none;
    margin-top: -2px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;

    a {
      color: black;

      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }

      &:focus, &:active {
        text-decoration: none;
      }
    }

    .icon {
      font-size: 2rem;
    }
  }
}
